<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ToolPath" value ="H:\nuget"/>
    <add key="NugetUrl" value ="http://www.mynuget.com"/>
    <add key="ApiUri" value ="/api/version/get/"/>
    <add key="Pwd" value ="beyondii2"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>