<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--Packages 一定要大写开头,官方提供的该接口区分大小写-->
    <add key="NugetUrl" value ="http://localhost:5648"/>
    <add key="Pwd" value ="beyondii2"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>